/* #4dffa6 */
/* New comment */

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #404040;
    color: #4dffa6;
}

#container {
    float: right;
    display: inline;
}

.label {
    position: absolute;
    font-size: 18px;
    display: none;
}

#poke-diam {
    top: 200px;
    right: 15%;
}

#poke-vol {
    top: 430px;
    right: 15%;
}

#coit-diam {
    top: 410px;
    right: 15%;
}

#coit-vol {
    top: 710px;
    right: 15%;
}

#coit-height {
    top: 500px;
    right: 28.5%;
}

a {
    color: #b3ffd9;
}

a:hover {
    color: #66ffb3;
}

hr {
    position: relative;
    top: 130px;
    left: 20px;
    width: 80px;
    border: 3px solid lightblue;
    border-radius: 5px;
    opacity: 0.5;
}

.hr2{
    width: 55px;
    top: 90px;
    left: 60px;
    transform: rotate(90deg);
}

#chhr1 {
    width: 150px;
    left: 60px;
    top: 80px;
}

#chhr2 {
    width: 200px;
    left: 140px;
}

#text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: inline;
    float: left;
    max-width: 50%;
    position: absolute;
    top: 300px;
    left: 10%;
    font-size: 20px;
}


p {
    display: none;
}

#answer {
    font-size: 25px;
}
